.WrapperUi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.75);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoaderContainer {
  z-index: 101;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 30%;
}

.visible {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.hidden {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
